target/
.classpath
.settings/
.project
.metadata
ActiveMQ/
FedoraRepository/
indexes/
ObjectStore/
*/.cache
.cache
.DS_Store
*~
fcrepo-home/
*.iml
.idea/
.checkstyle
fcrepo-integration-ldp/report-*
fcrepo-integration-ldp/report
fcrepo-integration-ldp/test-output
.idea/
