language: java
sudo: true
jdk:
  - oraclejdk8
before_install:  
 - "echo $JAVA_OPTS"
 - "export JAVA_OPTS=-Xmx512m"

script:
 - sudo service mysql stop
 - sudo service postgresql stop
 - sudo service acpid stop
 - sudo service atd stop
 - sudo service cron stop
 - sudo service memcached stop
 - sudo service ntp stop
 - sudo service rabbitmq-server stop
 - sudo service resolvconf stop
 - sudo service sshguard stop
 - sudo service ssh stop
 - mvn -Dfcrepo.streaming.parallel=true install -B -V

notifications:
  irc: "irc.freenode.org#fcrepo"
  email:
      - fedora-tech@googlegroups.com

