language: java
jdk:
  - oraclejdk8
before_install:  
 - "echo $JAVA_OPTS"
 - "export JAVA_OPTS=-Xmx512m"
notifications:
  irc: "irc.freenode.org#fcrepo"
  email:
      - fedora-tech@googlegroups.com

