<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%p %d{HH:mm:ss.SSS} \(%c{0}\) %m%n</pattern>
    </encoder>
  </appender>

  <logger name="org.fcrepo.auth" additivity="false" level="${fcrepo.log.auth:-null}">
    <appender-ref ref="STDOUT"/>
  </logger>
  <logger name="org.fcrepo.config" additivity="false" level="${fcrepo.log.config:-null}">
    <appender-ref ref="STDOUT"/>
  </logger>
  <logger name="org.fcrepo.event" additivity="false" level="${fcrepo.log.event:-null}">
    <appender-ref ref="STDOUT"/>
  </logger>
  <logger name="org.fcrepo.http.api" additivity="false" level="${fcrepo.log.http.api:-null}">
    <appender-ref ref="STDOUT"/>
  </logger>
  <logger name="org.fcrepo.http.commons" additivity="false" level="${fcrepo.log.http.commons:-null}">
    <appender-ref ref="STDOUT"/>
  </logger>
  <logger name="org.fcrepo.jms" additivity="false" level="${fcrepo.log.jms:-null}">
    <appender-ref ref="STDOUT"/>
  </logger>
  <logger name="org.fcrepo.kernel" additivity="false" level="${fcrepo.log.kernel:-null}">
    <appender-ref ref="STDOUT"/>
  </logger>
  <logger name="org.fcrepo.persistence" additivity="false" level="${fcrepo.log.persistence:-null}">
    <appender-ref ref="STDOUT"/>
  </logger>
  <logger name="org.fcrepo.search" additivity="false" level="${fcrepo.log.search:-null}">
    <appender-ref ref="STDOUT"/>
  </logger>
  <logger name="org.fcrepo.storage" additivity="false" level="${fcrepo.log.storage:-null}">
    <appender-ref ref="STDOUT"/>
  </logger>
  <logger name="org.fcrepo" additivity="false" level="${fcrepo.log:-INFO}">
    <appender-ref ref="STDOUT"/>
  </logger>

  <root level="WARN">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
