<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
    <import class="ch.qos.logback.core.status.OnConsoleStatusListener"/>
    <import class="ch.qos.logback.core.ConsoleAppender"/>
    <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>

    <statusListener class="OnConsoleStatusListener"/>

    <appender name="STDOUT" class="ConsoleAppender">
        <encoder class="PatternLayoutEncoder">
            <pattern>%p %d{HH:mm:ss.SSS} \(%c{0}\) %m%n</pattern>
        </encoder>
    </appender>

    <logger name="org.fcrepo.auth" additivity="false" level="${fcrepo.log.auth:-INFO}">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.fcrepo" additivity="false" level="${fcrepo.log:-INFO}">
        <appender-ref ref="STDOUT"/>
    </logger>
    <root>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
