# This workflow will build a Java project with Maven
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

name: Build Initial Pull Requests

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      max-parallel: 1
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        java: ['21']
        experimental: [false]
    steps:
    - name: Git support longpaths
      run: git config --global core.longpaths true
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: ${{ matrix.java }}
        cache: 'maven'
    - name: Build with Maven
      run: mvn -B -U clean install
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_ORG_TOKEN }}
  postgres-itest:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      matrix:
        java: ['21']
        postgres: ['13', '17']
    services:
      postgres:
        image: postgres:${{ matrix.postgres }}
        env:
          POSTGRES_USER: fcrepo-user
          POSTGRES_PASSWORD: fcrepo-pw
          POSTGRES_DB: fcrepo
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
    - name: Git support longpaths
      run: git config --global core.longpaths true
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: ${{ matrix.java }}
        cache: 'maven'
    - name: Build with Maven
      run: mvn -B -U -Dfcrepo.db.url="jdbc:postgresql://localhost:5432/fcrepo" -Dfcrepo.db.user="fcrepo-user" -Dfcrepo.db.password="fcrepo-pw" clean install -P db-test
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_ORG_TOKEN }}
  mariadb-itest:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      matrix:
        java: ['21']
        mariadb: ['lts']
    services:
      mariadb:
        image: mariadb:${{ matrix.mariadb }}
        env:
          MARIADB_ROOT_PASSWORD: root-pw
          MARIADB_DATABASE: fcrepo
          MARIADB_USER: fcrepo-user
          MARIADB_PASSWORD: fcrepo-pw
        options: >-
          --health-cmd="healthcheck.sh --connect --innodb_initialized"
          --health-interval=10s
          --health-start-period=10s
          --health-timeout=5s
          --health-retries=5
          --ulimit memlock=262144
        ports:
          - 3306:3306
    steps:
    - name: Git support longpaths
      run: git config --global core.longpaths true
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: ${{ matrix.java }}
        cache: 'maven'
    - name: Build with Maven
      run: mvn -B -U -Dfcrepo.db.url="jdbc:mariadb://localhost:3306/fcrepo" -Dfcrepo.db.user="fcrepo-user" -Dfcrepo.db.password="fcrepo-pw" clean install -P db-test
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_ORG_TOKEN }}
  mysql-itest:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      matrix:
        java: ['21']
        mysql: ['8.0']
    services:
      mysql:
        image: mysql:${{ matrix.mysql }}
        env:
          MYSQL_ROOT_PASSWORD: root-pw
          MYSQL_DATABASE: fcrepo
          MYSQL_USER: fcrepo-user
          MYSQL_PASSWORD: fcrepo-pw
        options: >-
          --health-cmd="mysqladmin ping"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5
        ports:
          - 3306:3306
    steps:
    - name: Git support longpaths
      run: git config --global core.longpaths true
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: ${{ matrix.java }}
        cache: 'maven'
    - name: Build with Maven
      run: mvn -B -U -Dfcrepo.db.url="jdbc:mysql://localhost:3306/fcrepo" -Dfcrepo.db.user="fcrepo-user" -Dfcrepo.db.password="fcrepo-pw" clean install -P db-test
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_ORG_TOKEN }}
