<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%p %d{HH:mm:ss.SSS} \(%c{0}\) %m%n</pattern>
        </encoder>
    </appender>

  <logger name="org.fcrepo.http.api" additivity="false" level="${fcrepo.log.http.api:-INFO}">
    <appender-ref ref="STDOUT"/>
  </logger>
  <logger name="org.fcrepo.integration.http" additivity="false" level="${fcrepo.log.integration.http:-INFO}">
    <appender-ref ref="STDOUT"/>
  </logger>
  <logger name="org.fcrepo" additivity="false" level="${fcrepo.log:-INFO}">
    <appender-ref ref="STDOUT"/>
  </logger>
  <logger name="org.htmlunit" additivity="false" level="ERROR">
    <appender-ref ref="STDOUT"/>
  </logger>
  <logger name="org.glassfish" additivity="false" level="ERROR">
    <appender-ref ref="STDOUT"/>
  </logger>
  <root additivity="false" level="WARN">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
